body {
  background-color: orange;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}

#title {
  color: #0c0c0c;
  background-color: rgba(68, 68, 68, 0.4);
  margin: 0 auto;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  text-shadow: 3px 2px 7px #333333;
  padding: 75px;
}

#links {
  margin: 0 auto;
  text-align: center;
}

h3 > a {
  font-size: 22px;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 3px 2px 5px;
}
